package layouts

import "inovasiriset.co.id/docker/manager/web/templates/axs/components"
import "inovasiriset.co.id/docker/manager/conf"

templ AX(title string, breadcrumbs ...components.Breadcrumb) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.4/dist/cdn.min.js"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
			<script src="/static/bundle.js"></script>
			<script src="/static/alpine-data.js"></script>
		</head>
		<!-- on response header X-Alpine-Redirect, hard redirect to X-Alpine-Redirect value -->
		<body x-data="{ loading: false }" x-on:ajax:start="loading = true" x-on:ajax:complete="loading = false">
			<div class="flex justify-between mb-4 w-full">
				<div class="flex-1">
					@components.Breadcrumbs(breadcrumbs...)
				</div>
				<div class="flex-1 flex justify-end p-4">
					@LogoutButton()
				</div>
			</div>
			<div id="page-load-indicator" x-show="loading" style="display: none;">
				<div class="flex items-center justify-center h-screen">
					<div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-blue-500"></div>
				</div>
			</div>
			{ children... }
		</body>
	</html>
}

templ LogoutButton() {
	<a href="/ax/logout" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
		<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
		</svg>
	</a>
}

templ AXAuth(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<script defer src="/static/bundle.js"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.4/dist/cdn.min.js"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
			<link href="/static/bundle.css" rel="stylesheet"/>
			if conf.IS_DEBUG {
				<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
			}
		</head>
		<!-- on response header X-Alpine-Redirect, hard redirect to X-Alpine-Redirect value -->
		<body x-data="{ loading: false }" x-on:ajax:start="loading = true" x-on:ajax:complete="loading = false">
			<div id="page-load-indicator" x-show="loading" style="display: none;">
				<div class="flex items-center justify-center h-screen">
					<div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-blue-500"></div>
				</div>
			</div>
			{ children... }
		</body>
	</html>
}
