package layouts
templ HTMX(title string) {
  <html>
  <head>
  <title>{title}</title>
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  </head>
  <body hx-indicator="#page-load-indicator">
  <div id="page-load-indicator" class="htmx-indicator" style="float: right; width: auto;">loading...</div>
  <div id="breadcrumbs" hx-swap-oob="true" style="display: block; margin-top: 12px; margin-bottom: 12px;"></div>
  {children...}
  </body>
  </html>
}