package layouts

templ MainLayout(title string) {
  <html>
  <head>
  <title>{title}</title>
  <script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.4/dist/cdn.min.js" onload="console.log('apline ajax loaded')"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js" onload="console.log('apline loaded')"></script>
  </head>
  <body>
      {children...}
      <script>
         document.addEventListener('alpine-ajax:init', () => {
          console.log('Alpine initializing',$ajax);
        });
      </script>
  </body>
  </html>
}