# Docker host
DOCKER_HOST=unix:///var/run/docker.sock

# Docker compose command name
# Example: docker compose or docker-compose
DOCKER_COMPOSE_CMD_NAME=docker compose

# Docker registry auths
# Example: host1:username1:password1,host2:username2:password2
REGISTRY_AUTHS=

# Docker registry
# Example: registry.gitlab.com
REGISTRY_HOST=
REGISTRY_USERNAME=
# REGISTRY_PASSWORD= your_password or your_access_token
REGISTRY_PASSWORD=

# Mandok domain
# Example: mandok.local
MANDOK_DOMAIN=

# Web interface port
# Example: 8080
PORT=

# Web interface IP
# Example: 127.0.0.1 or 0.0.0.0
IP=

# Web interface base URL
# Example: http://mandok.local:8080
BASE_URL=

# API credentials
API_USERNAME=
API_PASSWORD=
