#DOCKER_HOST=default to unix:///var/run/docker.sock
#REGISTRY_AUTHS=username:password@registryhost,...
#WORKDIRS=projectname:/path/to/project;... mapping project name to project folder, where docker-compose.yml or compose.yml is located
#API_USERNAME=basic auth username
#API_PASSWORD=basic auth password
#PORT=port to bind to default 8080
#IP=ip to bind to default 0.0.0.0 all ip