package pages

import "inovasiriset.co.id/docker/manager/app/lib/compose"
import "path"
import "fmt"

templ Statuses(projectName string, projectStats map[string]compose.ServiceStatus) {
  <table>
    <thead>
      <tr>
        <th>Service</th>
        <th>Image</th>
        <th>Running</th>
        <th>State</th>
        <th>Route</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      for n, v := range projectStats {
        <tr>
          <td>{n}</td>
          <td>{v.Image}</td>
          <td>{fmt.Sprintf("%d/%d", v.Running, v.Expected)}</td>
          <td>{v.State}</td>
          <td>{v.Route}</td>
          if v.State == "running" {
            <td><a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "edit"))}>Edit</a>|<a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "stop"))}>Stop</a></td>
          } else {
            <td><a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "edit"))}>Edit</a>|<a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "start"))}>Start</a></td>
          }
        </tr>
      }
      <tr><td><a href={templ.SafeURL(path.Join("/", "project", projectName, "service-new"))}>New Service</a></td></tr>
    </tbody>
  </table>
}

templ Project(projectName string, projectStats map[string]compose.ServiceStatus, envPlain, envSecret map[string]string) {
  <body>
    <h1><a href={templ.SafeURL(path.Join("/"))}>Home</a></h1>/<h1>{projectName}</h1>
    <div>
      <a href={templ.SafeURL(path.Join("/", "project", projectName, "start"))}>Start All</a>
      <a href={templ.SafeURL(path.Join("/", "project", projectName, "down"))}>Down</a>
      <a href={templ.SafeURL(path.Join("/", "project", projectName, "edit"))}>Edit</a>
    </div>
    @Statuses(projectName, projectStats)
    @Envs(projectName, envPlain, envSecret)
  </body>
}

templ NewProject(err error) {
  <h1>New Project</h1>
  <form method="post" action={templ.SafeURL(path.Join("/", "project-new"))} enctype="multipart/form-data">
    <label for="project-name">Name: 
      <input id="project-name" name="name" type="text" required>
    </label>
    <br/>
    if err != nil {
      <span style="color: red;">{err.Error()}</span>
      <br/>
    }
    <br/>
    <button type="submit">Submit</button>
  </form>
}


templ EditProject(projectName, project string, format string, err error) {
  <h1>Edit Project: {projectName}</h1>
  <form method="post" action={templ.SafeURL(path.Join("/", "project", projectName, "edit") + "?format=" + format)}>
    if err != nil {
      <span style="color: red;">{err.Error()}</span>
      <br/>
    }
    <label for="service-detail">
      {format}:
      <textarea id="service-detail" name={format}>
      if project != "" {
        {project}
      } else if format == "json" {
        {"{}"}
      }
      </textarea>
    </label>
    <br/>
    <button type="submit">Submit</button>
  </form>
  <br/>
  if format == "json" {
    <a href={templ.SafeURL(path.Join("/", "project", projectName, "edit") + "?format=yaml")} >Yaml</a>
  } else {
    <a href={templ.SafeURL(path.Join("/", "project", projectName, "edit") + "?format=json")} >json</a>
  }
}