package components

import "path"

templ Envs(projectName string, plain, secret map[string]string, err error) {
  <div id="project-envs" hx-get={path.Join("/hx", "project", projectName, "envs")} hx-swap-oob="outerHTML" hx-trigger="updateEnvs from:body"  hx-indicator="#page-load-indicator">
  <h2>Envs</h2>
  <h3>Plain</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      for k, v := range plain {
        <tr>
          <td>{k}</td>
          <td>{v}</td>
          <td>
            <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "envs", "delete", k))} hx-get={path.Join("/hx", "project", projectName, "envs", "delete", k)} hx-confirm="delete this env var?" hx-swap="none">delete</a> |
            <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "envs", "secret", k))} hx-get={path.Join("/hx", "project", projectName, "envs", "secret", k)} hx-confirm="make this env var secret?" hx-swap="none">secret</a>
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
        <tr id="add-env-plain" hx-include="#add-env-plain>td>input">
          <td><input name="name" /></td>
          <td><input name="value"/></td>
          <td>
            <button type="button" hx-post={path.Join("/hx", "project", projectName, "envs", "plain")}  hx-swap="none" hx-indicator="#page-load-indicator">+</button>
          </td>
        </tr>
    </tfoot>
  </table>
  <form hx-post={path.Join("/hx", "project", projectName, "envs")}  hx-swap="none" hx-indicator="#page-load-indicator">
    <label for="plain_envs">envs:</label>
    <br/>
    <textarea id="plain_envs" name="envs"></textarea>
    <br/>
    <button type="submit">add all</button>
  </form>

  <h3>Secret</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      for k := range secret {
        <tr>
          <td>{k}</td>
          <td><a href={templ.SafeURL(path.Join("/hx", "project", projectName, "envs", "delete", k))} hx-get={path.Join("/hx", "project", projectName, "envs", "delete", k)} hx-swap="none">delete</a></td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr id="add-env-secret" hx-include="#add-env-secret>td>input">
        <td><input name="name" /></td>
        <td><input name="value"/></td>
        <td><button type="button" hx-post={path.Join("/hx", "project", projectName, "envs", "secret")} hx-swap="none" hx-indicator="#page-load-indicator">+</button></td>
      </tr>
    </tfoot>
  </table>
  </div>
}