package components

import "inovasiriset.co.id/docker/manager/app/lib/compose"

templ Event(event compose.DockerComposeEvent) {
  <span remove-me="3s" class="event">{event.Action} {event.Service} {event.Name}</span>
}