package components

import "inovasiriset.co.id/docker/manager/app/lib/compose"
import "path"
import "fmt"


templ Statuses(projectName string, projectStats map[string]compose.ServiceStatus) {
  <table>
    <thead>
      <tr>
        <th>Service</th>
        <th>Image</th>
        <th>Running</th>
        <th>State</th>
        <th>Route</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      for n, v := range projectStats {
        <tr>
          <td>{n}</td>
          <td>{v.Image}</td>
          <td>{fmt.Sprintf("%d/%d", v.Running, v.Expected)}</td>
          <td>{v.State}</td>
          <td><a href={templ.SafeURL("//" + v.Route)} target="_blank">{v.Route}</a></td>
            <td>
              <a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "edit"))}>Edit</a> | 
          if v.State == "running" {
            <a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "stop"))}>Stop</a> | 
            <a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "pull"))}>pull</a> | 
            <a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "restart"))}>restart</a> | 
          } else {
            <a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "start"))}>Start</a>
          }
          if v.State != "" {
            <a href={templ.SafeURL(path.Join("/", "project", projectName, "service", n, "log"))} target="_blank">log</a>
          }
          </td>
        </tr>
      }
      <tr><td><a href={templ.SafeURL(path.Join("/", "project", projectName, "service-new"))}>New Service</a></td></tr>
    </tbody>
  </table>
}
