@tailwind base;
@tailwind components;
@tailwind utilities;


#page-load-indicator {
  float: right;
  width: auto;
  direction: rtl;
  text-align: right;
  z-index: 0;
  margin-right: 1%;
}

#page-load-indicator.htmx-indicator.htmx-request {
  opacity: 0.5;
}

.event {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  margin-bottom: 4px;
  direction: rtl;
  text-align: right;
}

#events {
  max-width: 200px;
  overflow: visible;
}

#page {
  margin: 2%;
  z-index: 10;
}

#breadcrumbs {
  margin: 0 2%;
  z-index: 10;
}