package pages

import "inovasiriset.co.id/docker/manager/web/templates/layouts"
import "inovasiriset.co.id/docker/manager/web/templates/htmxs/components"

templ Login(layout bool, username string, err error) {
  if layout {
    @layouts.HTMX("Login") {
      @Login(false, username, err)
    }
    {{ return }}
  }
  <title>Login</title>
  <div id="page" hx-swap-oob="outerHTML" class="container p-4">
    <form hx-post="#" method="post" hx-target="#page" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <table>
        <tr>
          <td>
            <label for="login_username" class="block text-gray-700 mb-2 mr-4">
              Username
            </label>
          </td>
          <td>
            <input id="login_username" name="username" value={ username } class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </td>
        </tr>
        <tr>
          <td>
            <label for="login_password" class="block text-gray-700 mb-2 mr-4">
              Password
            </label>
          </td>
          <td>
            <input id="login_password" name="password" type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </td>
        </tr>
      </table>
      @components.Error(err, "login-err")
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</button>
    </form>
  </div>
}