package pages

import "inovasiriset.co.id/docker/manager/web/templates/layouts"
import "inovasiriset.co.id/docker/manager/web/templates/htmxs/components"
import "path"

templ NewProject(layout bool, err error) {
  if layout {
    @layouts.HTMX("New Project") {
      <div id="page" hx-get={path.Join("/hx", "new-project")} hx-swap="outerHTML" hx-trigger="load" hx-indicator="#page-load-indicator"></div>
    }
    {{ return }}
  }
  @components.Breadcrumbs([]components.Breadcrumb{
    {
      Text: "Home",
      Link: "/hx",
    },
    {
      Text: "New Project",
    },
  }...)
  <title>New Project</title>
  <div id="page" hx-swap-oob="outerHTML">
    <h1>New Project</h1>
    <form hx-post="#" hx-url>
      <label for="project-name">Name: 
        <input id="project-name" name="name" type="text" required>
      </label>
      <br/>
      @components.Error(err, "new-project-error")
      <br/>
      <button type="submit">Submit</button>
    </form>
  </div>
}

templ Project(layout bool, projectName string, err error) {
  if layout {
    @layouts.HTMX(projectName) {
      <div id="page" hx-get={path.Join("/hx", "project", projectName)} hx-swap="outerHTML" hx-trigger="load" hx-indicator="#page-load-indicator"></div>
    }
    {{ return }}
  }
  @components.Breadcrumbs([]components.Breadcrumb{
    {
      Text: "Home",
      Link: "/hx",
    },
    {
      Text: projectName,
    },
  }...)
  <title>{projectName}</title>
  <div id="page" hx-swap-oob="outerHTML">
    <div id="project-events" hx-ext="sse" sse-connect={path.Join("/hx", "project", projectName, "events")} hx-indicator="none" style="float: right;">
      <div sse-swap="container" hx-swap="afterbegin" hx-target="#page-load-indicator>#events"></div>
    </div>
    <div>
      <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "start"))} hx-get={path.Join("/hx", "project", projectName, "start")} hx-swap="none" hx-indicator="#page-load-indicator">Start All</a>
      <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "down"))} hx-get={path.Join("/hx", "project", projectName, "down")} hx-swap="none" hx-indicator="#page-load-indicator">Down</a>
      <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "edit"))} hx-get={path.Join("/hx", "project", projectName, "edit")} hx-push-url="true" hx-target="#page" >Edit</a>
    </div>
    <div id="project-status" hx-get={path.Join("/hx", "project", projectName, "status")} hx-trigger="load" hx-swap="outerHTML" hx-indicator="#page-load-indicator"></div>
    <div id="project-envs" hx-get={path.Join("/hx", "project", projectName, "envs")} hx-trigger="load" hx-swap="outerHTML" hx-indicator="#page-load-indicator"></div>
  </div>
}

templ EditProject(layout bool, projectName, project string, format string, err error) {
  if layout {
    @layouts.HTMX(projectName) {
      <div id="page" hx-get={path.Join("/hx", "project", projectName)} hx-swap="outerHTML" hx-trigger="load" hx-indicator="#page-load-indicator"></div>
    }
    {{ return }}
  }
  @components.Breadcrumbs([]components.Breadcrumb{
    {
      Text: "Home",
      Link: "/hx",
    },
    {
      Text: projectName,
      Link: path.Join("/hx", "project", projectName),
    },
    {
      Text: "Edit Raw",
    },
  }...)
  <title>{projectName}: Edit Raw - { format }</title>
  <div id="page" hx-swap-oob="outerHTML">
    <h1>Edit Project: {projectName}</h1>
    <form hx-post="#" hx-url>
      @components.Error(err, "edit-project-error")
      <input type="hidden" name="format" value={format} />
      if format == "json" {
        <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "edit") + "?format=yaml")} hx-get={path.Join("/hx", "project", projectName, "edit") + "?format=yaml"} hx-replace-url="true" hx-target="#page" hx-swap="outerHTML" >YAML</a>
        <br/>
      } else {
        <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "edit") + "?format=json")} hx-get={path.Join("/hx", "project", projectName, "edit") + "?format=json"} hx-replace-url="true" hx-target="#page" hx-swap="outerHTML" >JSON</a>
        <br/>
      }
      <textarea id="project-raw" name="project" style="width: 100%; height: 400px;">{project}</textarea>
      <br/>
      <button type="submit">Submit</button>
    </form>
  </div>
}