package pages

import "inovasiriset.co.id/docker/manager/web/templates/layouts"
import "inovasiriset.co.id/docker/manager/web/templates/htmxs/components"
import "path"

templ NewProject(layout bool, err error) {
  if layout {
    @layouts.HTMX("New Project") {
      @NewProject(false, err)
    }
    {{ return }}
  }
  @components.Breadcrumbs([]components.Breadcrumb{
    {
      Text: "Home",
      Link: "/hx",
    },
    {
      Text: "New Project",
    },
  }...)
  <title>New Project</title>
  <div id="page" hx-swap-oob="outerHTML">
    <h1>New Project</h1>
    <form hx-post="#" hx-url>
      <label for="project-name">Name: 
        <input id="project-name" name="name" type="text" required>
      </label>
      <br/>
      @components.Error(err, "new-project-error")
      <br/>
      <button type="submit">Submit</button>
    </form>
  </div>
}

templ Project(layout bool, projectName string, err error) {
  if layout {
    @layouts.HTMX(projectName) {
      @Project(false, projectName, err)
    }
    {{ return }}
  }
  @components.Breadcrumbs([]components.Breadcrumb{
    {
      Text: "Home",
      Link: "/hx",
    },
    {
      Text: projectName,
    },
  }...)
  <title>{projectName}</title>
  <div id="page" hx-swap-oob="outerHTML">
    <div>
      <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "start"))} hx-get={path.Join("/hx", "project", projectName, "start")} hx-swap="none" >Start All</a>
      <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "down"))} hx-get={path.Join("/hx", "project", projectName, "down")} hx-swap="none" >Down</a>
      <a href={templ.SafeURL(path.Join("/hx", "project", projectName, "edit"))} hx-get={path.Join("/hx", "project", projectName, "edit")} hx-push-url="true" hx-target="#page" >Edit</a>
    </div>
    <div id="project-status" hx-get={path.Join("/hx", "project", projectName, "status")} hx-trigger="load" hx-swap="outerHTML"></div>
    <div id="project-envs" hx-get={path.Join("/hx", "project", projectName, "envs")} hx-trigger="load" hx-swap="outerHTML"></div>
  </div>
}