package pages

import (
	"inovasiriset.co.id/docker/manager/web/templates/axs/components"
	"inovasiriset.co.id/docker/manager/web/templates/layouts"
	"path"
	"strconv"
)

func serviceTitle(projectName, serviceName string) string {
	if serviceName != "" {
		return projectName + " - " + serviceName
	} else {
		return projectName + " - New Service"
	}
}

templ contentService(projectName, serviceName string, service string, format string, err error) {
	if service != "" {
		<h1 class="text-3xl font-bold mb-4">Edit Service: { serviceName }</h1>
	} else {
		<h1 class="text-3xl font-bold mb-4">New Service</h1>
	}
	{{
		if format == "" {
			format = "json"
		}
		quotedService := strconv.Quote(service)
		var initScript string = "$watch('format', value => $ajax(window.location.href + '?format=' + value, { target: 'page' }));"
		switch format {
		case "yaml":
			initScript += `
			window.initMonacoEditor('service-detail','yaml', `+ quotedService +`).onEndUpdate((e) => {
				value = window.getMonacoEditor().getValue()
				console.log('[DEBUG] value', value)
			});
			`
		default:
			initScript += `
			window.initMonacoEditor('service-detail','json', `+ quotedService +`).onEndUpdate((e) => {
				value = window.getMonacoEditor().getValue()
				console.log('[DEBUG] value', value)
			});
			`
		}
	}}
	<form
		x-target.push="page"
		method="POST"
		x-data={ "{ format: '" + format + "', value: "+ quotedService +" }" }
		x-init={ initScript }
		action={ templ.SafeURL(path.Join("/ax", "project", projectName, "service", serviceName)) }
	>
		if serviceName == "" {
			<label for="service-name" class="block text-gray-700 text-sm font-bold mb-2">Name: </label>
			<input id="service-name" name="name" type="text" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required/>
		}
		<span id="service-error" 
			if err != nil { 
				style="color: red; display: block; margin-bottom: 1rem;" 
			} else { 
				style="color: red; display: none; margin-bottom: 1rem;" 
			}
		>
			if err != nil {
				{ err.Error() }
			}
		</span>
		<input
			type="radio"
			name="format"
			value="yaml"
			x-model="format"
			class="rounded-full border-gray-300 focus:ring-2 focus:ring-blue-300"
		/>YAML
		<input
			type="radio"
			name="format"
			value="json"
			x-model="format"
			class="rounded-full border-gray-300 focus:ring-2 focus:ring-blue-300"
		/>JSON
		<div id="service-detail" class="h-64">
			
		</div>
		<input type="hidden" name={format} x-model="value" />
		<br/>
		<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Submit</button>
	</form>
}

templ Service(layout bool, projectName string, serviceName string, service string, format string, err error) {
	{{
		var breadcrumbs []components.Breadcrumb
		breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: "Home", Link: "/ax"})
		breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: projectName, Link: path.Join("/ax", "project", projectName)})
		var title string
		if serviceName != "" {
			breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: serviceName, Link: path.Join("/ax", "project", projectName, "service", serviceName, "edit")})
			breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: "Route"})
			title = projectName + " - " + serviceName
		} else {
			breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: "New Service"})
			title = projectName + " - New Service"
		}
	}}
	if layout {
		@layouts.AX(title, breadcrumbs...) {
			<div id="page" x-sync class="container p-4">
				@contentService(projectName, serviceName, service, format, err)
			</div>
		}
		{{ return }}
	}
	@components.Breadcrumbs(breadcrumbs...)
	<div id="page" x-sync class="container p-4">
		@contentService(projectName, serviceName, service, format, err)
	</div>
}
