package pages

import (
	"fmt"
	"inovasiriset.co.id/docker/manager/web/templates/axs/components"
	"inovasiriset.co.id/docker/manager/web/templates/layouts"
	"path"
	"strconv"
)

func serviceTitle(projectName, serviceName string) string {
	if serviceName != "" {
		return projectName + " - " + serviceName
	} else {
		return projectName + " - New Service"
	}
}

templ contentService(projectName, serviceName string, service string, format string, err error) {
	if service != "" {
		<h1 class="text-3xl font-bold mb-4">Edit Service: { serviceName }</h1>
	} else {
		<h1 class="text-3xl font-bold mb-4">New Service</h1>
	}
	{{
		if format == "" {
			format = "json"
		}
		quotedService := strconv.Quote(service)
		initScript := `
		window.initMonacoEditor('service-detail', '` + format + `', 'service', ` + quotedService + `)
		$watch('format', async value => {
			await window.initMonacoEditor('service-detail', value, 'service')
		});
		`
	}}
	<form
		x-target="page"
		x-target.push="page"
		method="POST"
		x-data={ "{ format: '" + format + "' }" }
		x-init={ initScript }
		x-on:submit={ fmt.Sprintf(`
			const markers = window.monacoErrorMarkers()
			if (markers.length > 0) {
				return
			}
			const body = {
				format: format,
			}
			const editor = window.getMonacoEditor()
			if (editor) {
				body[format] = editor.getValue()
			}
			$ajax('/ax/project/%s/service/%s', {
				method: 'POST',
				body,
				target: 'page',
				push: true,
			})
		`, projectName, serviceName) }
		class="container p-4"
	>
		if serviceName == "" {
			<label for="service-name" class="block text-gray-700 text-sm font-bold mb-2">Name: </label>
			<input id="service-name" name="name" type="text" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required/>
		}
		@components.Error(err, "service-error")
		<div class="flex space-x-4 mb-4">
			<label class="flex items-center space-x-2">
				<input
					type="radio"
					name="format"
					value="yaml"
					x-model="format"
					class="rounded-full border-gray-300 focus:ring-2 focus:ring-blue-300"
				/>YAML
			</label>
			<label class="flex items-center space-x-2">
				<input
					type="radio"
					name="format"
					value="json"
					x-model="format"
					class="rounded-full border-gray-300 focus:ring-2 focus:ring-blue-300"
				/>JSON
			</label>
		</div>
		<div id="service-detail" class="h-64 resize-y overflow-y-auto mt-4 overflow-x-visible p-4"></div>
		<br/>
		<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Submit</button>
	</form>
}

templ Service(layout bool, projectName string, serviceName string, service string, format string, err error) {
	{{
		var breadcrumbs []components.Breadcrumb
		breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: "Home", Link: "/ax"})
		breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: projectName, Link: path.Join("/ax", "project", projectName)})
		var title string
		if serviceName != "" {
			breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: serviceName, Link: path.Join("/ax", "project", projectName, "service", serviceName, "edit")})
			breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: "Route"})
			title = projectName + " - " + serviceName
		} else {
			breadcrumbs = append(breadcrumbs, components.Breadcrumb{Text: "New Service"})
			title = projectName + " - New Service"
		}
	}}
	if layout {
		@layouts.AX(title, breadcrumbs...) {
			<div id="page" x-sync class="container p-4">
				@contentService(projectName, serviceName, service, format, err)
			</div>
		}
		{{ return }}
	}
	@components.Breadcrumbs(breadcrumbs...)
	<div id="page" x-sync class="container p-4">
		@contentService(projectName, serviceName, service, format, err)
	</div>
}
