package components

import (
	"fmt"
	"inovasiriset.co.id/docker/manager/app/lib/compose"
	"path"
	"sort"
)

func sortEnvVals(envVals []compose.EnvVal) {
	sort.Slice(envVals, func(i, j int) bool {
		return envVals[i].Key < envVals[j].Key
	})
}

templ Envs(projectName string, envVals []compose.EnvVal, err error) {
	{{ sortEnvVals(envVals) }}
	<div id="project-envs" class="p-4 overflow-x-auto">
		<h2 class="text-2xl font-bold mb-4">Envs</h2>
		<table class="w-full divide-y divide-gray-200 table-fixed">
			<thead>
				<tr class="bg-gray-50">
					<th class="w-4/12 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
					<th class="w-6/12 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Value</th>
					<th class="w-2/12 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">...</th>
				</tr>
			</thead>
			<tbody>
				for _, v := range envVals {
					<tr class="hover:bg-gray-100">
						<td class="font-mono font-semibold text-xs md:text-sm text-slate-800 px-6 py-2 select-all">{ v.Key }</td>
						<td class="font-mono text-xs md:text-sm text-slate-600 px-6 py-2 break-all select-all">{ v.Val }</td>
						<td class="px-6 py-2 whitespace-nowrap">
							<a
								href={ templ.SafeURL(path.Join("/ax", "project", projectName, "envs", "delete", v.Key)) }
								x-target="project-envs"
								@ajax:before={ fmt.Sprintf(`confirm("delete %s env var?") || $event.preventDefault()`, v.Key) }
								class="text-red-500 hover:underline mr-2"
							>delete</a>
							<a
								href={ templ.SafeURL(path.Join("/ax", "project", projectName, "envs", "secret", v.Key)) }
								x-target="project-envs"
								@ajax:before={ fmt.Sprintf(`confirm("make %s env var secret?") || $event.preventDefault()`, v.Key) }
								class="text-blue-500 hover:underline"
							>secret</a>
						</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr id="add-env-plain" class="hover:bg-gray-100">
					<td class="px-6 py-4"><input id="env-name" x-ref="envNameInput" name="name" class="font-mono text-sm border rounded px-2 py-1 w-full" placeholder="KEY_NAME"/></td>
					<td class="px-6 py-4"><input id="env-value" x-ref="envValueInput" name="value" class="font-mono text-sm border rounded px-2 py-1 w-full" placeholder="value"/></td>
					<td class="px-6 py-4 whitespace-nowrap">
						<button
							type="button"
							@click={ fmt.Sprintf(`$ajax('%s', { 
								method: 'POST', 
								body: { 
									name: $refs.envNameInput.value, 
									value: $refs.envValueInput.value
								}, 
								target: "project-envs",
							})`, path.Join("/ax", "project", projectName, "envs")) }
							class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
						>+</button>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<form action={ templ.SafeURL(path.Join("/ax", "project", projectName, "envs")) } method="post" x-target="project-envs">
							<textarea id="plain_envs" name="envs" class="font-mono text-xs md:text-sm border rounded px-2 py-1 w-full" rows="10" placeholder="KEY=VALUE"></textarea>
							<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">add all</button>
						</form>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
}
