package components

import "inovasiriset.co.id/docker/manager/app/lib/compose"

templ Event(event compose.DockerComposeEvent) {
	<span x-init="setTimeout(() => $el.remove(), 3000)" class="event">{ event.Action } { event.Service } { event.Name }</span>
}
